<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 	<context:component-scan base-package="com.spring.controllers">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
 -->	
	<bean id="prptSvImpMock" class="org.mockito.Mockito"
			factory-method="mock">
 			<constructor-arg value="com.spring.service.PropertyBldServiceImp"/>
	</bean>				

	 
<!-- 	<mvc:annotation-driven></mvc:annotation-driven>
 -->
 	<!-- <mvc:default-servlet-handler /> -->
</beans>
